@model IEnumerable<ShopShop.Models.CategoriaProdutos>

<h3>Nova Compra</h3>
<br />
<br />
@using (Html.BeginForm())
{
    <p>Categorias dos Produtos:</p>
    <p>@Html.DropDownList("categoria",(SelectList)ViewBag.CATEGORIAS, "Selecione a categoria:")</p>

    <input type="submit" value="Escolher" />
    <br />
    <br />
    <h5>Lista de Produtos:</h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Continente
                </th>
                <th>
                    Pingo Doce
                </th>
                <th>
                    Mercadona
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.Nome</th>
                    <th>
                        @Html.RadioButton("preco",$"{item.Id}|continente")
                        @item.PrecoCont€
                    </th>
                    <th>
                        @Html.RadioButton("preco",$"{item.Id}|pingoDoce")
                        @item.PrecoPD€
                    </th>
                    <th>
                        @Html.RadioButton("preco",$"{item.Id}|mercadona")
                        @item.PrecoMerc€
                    </th>
                </tr>
            }            
        </tbody>
    </table>
    <table class="table-responsive">
        <tr>
            <th>Quantidade:</th>
            <th>@Html.TextBox("quantidade")</th>
            <th><input type="submit" value="Adicionar" /></th>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <h5>Listas de Compras</h5>
    <table class="table" style="border-style:solid">
        <thead>
            <tr style="text-align:center">
                <td>Continente</td>
                <td>Pingo Doce</td>
                <td>Mercadona</td>
            </tr>
            <tr>
                <td>
                    <table class="table" style="border-style:solid">
                        <tr style="text-align:center">
                            <td>Nome</td>
                            <td>Quantidade</td>
                            <td>Preço</td>
                            <td>Total</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table" style="border-style:solid">
                        <tr style="text-align:center">
                            <td>Nome</td>
                            <td>Quantidade</td>
                            <td>Preço</td>
                            <td>Total</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table" style="border-style:solid">
                        <tr style="text-align:center">
                            <td>Nome</td>
                            <td>Quantidade</td>
                            <td>Preço</td>
                            <td>Total</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
}

<h5>@ViewBag.ID</h5>
<br />
<h5>@ViewBag.LOCAL</h5>
<br />
<h5>@ViewBag.QUANTIDADE</h5>
